* {
  margin: 0;
  padding: 0;
}

.header {
  height: 64px;
  line-height: 64px;
  padding: 0px 0px;
  background: #428bca;

  .ant-menu-dark {
    color: rgba(255, 255, 255, 0.65);
    background: #428bca;

    .ant-menu-item-selected {
      float: right;
      background: #428bca;
      position: relative;
      .dropdown-out{
        display: none;
      }

      .dropdown-menu {
        position: absolute;
        top: 100%;
        left: auto;
        right: 1px;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        display: block;

        .divider {
          height: 1px;
          margin: 9px 0;
          overflow: hidden;
          background-color: #e5e5e5;
        }

        a {
          font-size: 13px;
          padding-left: 11px;
          padding-right: 11px;
          margin-bottom: 1px;
          margin-top: 1px;
          display: block;
          clear: both;
          font-weight: normal;
          line-height: 1.428571429;
          color: #333;
          white-space: nowrap;

          .anticon-poweroff {
            color: #333;
          }
        }
      }

      .dropdown-menu:before {
        border-bottom: 7px solid rgba(0, 0, 0, 0.2);
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        content: "";
        display: inline-block;
        left: 120px;
        position: absolute;
        top: -7px;
      }
    }
  }

}

.ant-layout-content {
  .ant-menu-submenu-title {
    height: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0 16px;
    overflow: hidden;
    font-size: 14px;
    line-height: 40px;
    text-overflow: ellipsis;
  }

  .ant-menu-inline {
    padding: 0;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    border-top: 1px solid #e5e5e5;
  }
}