.nc-toolbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-right: 6px solid #7a6e6e;
    transition: right .3s ease-in-out 0s;

    .nc-toolbar-tabs {
        position: absolute;
        top: 50%;
        left: -29px;
        width: 35px;
        margin-top: -61px;

        .nc-toolbar-tab {
            position: relative;
            width: 35px;
            height: 35px;
            margin-bottom: 1px;
            cursor: pointer;
            background-color: #7a6e6e;
            border-radius: 3px 0 0 3px;
            display: inline-block;
            background-image: url(../img1/toolbar_bg.png);
            background-repeat: no-repeat;

            .tab-tip {
                position: absolute;
                top: 8px;
                right: 10px;
                width: 6px;
                height: 6px;
                background-position: -100px 0;
                z-index: 999;
            }

            .tab-ico {
                width: 34px;
                height: 35px;
                margin-left: 1px;
                position: relative;
                z-index: 2;
                background-color: #7a6e6e;
            }

            .tab-text {
                width: 62px;
                height: 35px;
                line-height: 35px;
                color: rgb(255, 255, 255);
                text-align: center;
                font-family: 宋体;
                position: absolute;
                z-index: 1;
                left: 35px;
                top: 0px;
                background-color: rgb(122, 110, 110);
                border-radius: 3px 0px 0px 3px;
                transition: left 0.3s ease-in-out 0.1s;
            }
            .tab-sub{
                .nc-toolbar-tab .tab-sub {
                    position: absolute;
                    z-index: 3;
                    right: 2px;
                    top: -5px;
                    height: 11px;
                    padding: 1px 2px;
                    overflow: hidden;
                    color: #fff;
                    font: 11px/11px verdana;
                    text-align: center;
                    min-width: 11px;
                    border-radius: 10px;
                    border-radius: 0\9;
                    background-color: #C81623;
                }
            }
        }
        .nc-toolbar-footer {
            position: absolute;
            bottom: -1px;
            width: 100%;
            left: -29px;
        }
    }
}