@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.shop {
  width: 100%;
  height: 100%;
}

.shop .wrapper {
  width: 1210px;
  margin: auto;
}

.shop .clearfix::after {
  content: "";
  display: block;
  height: 0px;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.shop .header {
  border-bottom: solid 1px #e5e5e5;
  background: #f5f5f5;
}

.shop .header-wrap {
  width: 100%;
  background: #fff;
}

.shop .public-nav-layout {
  position: relative;
  z-index: 9;
  width: 100%;
  height: 40px;
  border-bottom: solid 2px #F30213;
  margin: 0 auto;
  background-color: #FFF;
  zoom: 1;
}

.shop .public-nav-layout .category {
  display: none;
  box-shadow: -1px 3px 12px -1px rgba(0, 0, 0, 0.3);
}

.shop .public-nav-layout .category .menu {
  position: relative;
  z-index: 2;
  width: 180px;
  padding: 19px 0;
  min-height: 442px;
  background-color: #fff;
  color: #000;
}

.shop .public-nav-layout .category .menu a {
  color: #000;
}

.shop .nc-toolbar-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9990;
  width: 0;
  height: 100%;
}

.shop .nch-breadcrumb-layout {
  text-align: center;
  min-height: 26px;
  padding: 10px 0;
  margin: 0 auto;
}

.shop .nch-breadcrumb-layout .nch-breadcrumb {
  font-size: 0;
  min-height: 26px;
  float: left;
  margin: 0 8px 5px 0;
  padding: 0;
  line-height: 26px;
}

.shop .nch-breadcrumb-layout .nch-breadcrumb span {
  font-size: 12px;
  line-height: 26px;
  color: #999;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  height: 20px;
  zoom: 1;
}

.shop .nch-breadcrumb-layout .nch-breadcrumb .sort-box {
  position: relative;
  z-index: 1;
  display: inline-block;
  height: 26px;
}

.shop .nch-breadcrumb-layout .nch-breadcrumb .sort-box .current {
  position: relative;
  z-index: 99;
  display: block;
  height: 22px;
  border: solid 1px #E6E6E6;
  padding: 1px 7px;
  background-color: #FFF;
  line-height: 20px;
  color: #555;
}

.shop .nch-breadcrumb-layout .nch-breadcrumb .sort-box .current .drop-arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 1px 0 0 4px;
  vertical-align: top;
  background: url(../img1/login_pic.png) no-repeat -378px -205px;
  transition: background-position .15s ease-in-out;
}

.shop .nch-breadcrumb-layout .nch-breadcrumb .sort-box .sort-sub {
  display: none;
  position: absolute;
  z-index: 2;
  top: 25px;
  left: 0;
  width: 348px;
  background-color: #FFF;
  border: solid 1px #f30213;
}

.shop .nch-breadcrumb-layout .nch-breadcrumb .sort-box .sort-sub ul {
  font-size: 0;
  padding: 5px;
}

.shop .nch-breadcrumb-layout .nch-breadcrumb .sort-box .sort-sub ul li {
  float: left;
  width: 18%;
  height: 24px;
  padding: 1% 1%;
  font-size: 12px;
}

.shop .nch-breadcrumb-layout .nch-breadcrumb .sort-box .sort-sub ul li a {
  display: block;
  color: #555;
  line-height: 24px;
}

.shop .nch-breadcrumb-layout .nch-breadcrumb .sort-box .sort-sub .clearfix::after {
  content: '';
  display: block;
  height: 0px;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.shop .nch-breadcrumb-layout .nch-breadcrumb .sort-box:hover .sort-sub {
  display: block;
}

.shop .nch-breadcrumb-layout .nch-breadcrumb .sort-box:hover .current {
  border-color: red;
  border-bottom-color: #fff;
}

.shop .nch-breadcrumb-layout .nch-breadcrumb .sort-box:hover .drop-arrow {
  background-position: -378px -220px;
}

.shop .nch-breadcrumb-layout .clear {
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0;
}

.shop .selector {
  margin-bottom: 10px;
}

.shop .selector .title {
  display: block;
  height: 24px;
  padding: 6px 10px;
  border: solid #DDD;
  border-width: 1px;
  background-color: #F2F2F2;
  line-height: 20px;
}

.shop .selector .title strong {
  font-weight: bold;
}

.shop .selector .title .c-danger {
  color: #FF5B57 !important;
  font-size: 14px;
}

.shop .selector .content {
  overflow: hidden;
  background-color: #FFF;
  position: relative;
  z-index: 0;
  font-size: 12px;
}

.shop .selector .content dl {
  position: relative;
  z-index: 1;
  display: block;
  clear: both;
  margin: 0;
  border-bottom: solid 1px #DDD;
}

.shop .selector .content dl dt {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  width: 70px;
  border-right: solid 1px #E6E6E6;
  line-height: 24px;
  color: #777;
  padding: 6px 0 6px 10px;
  background-color: #FAFAFA;
}

.shop .selector .content dl .list {
  position: relative;
  z-index: 1;
  margin: 0 136px 0 81px;
  padding: 6px 10px;
  background-color: #FFF;
  height: 22px;
}

.shop .selector .content dl .list ul {
  font-size: 0;
  word-spacing: -1em;
}

.shop .selector .content dl .list ul li {
  position: relative;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  height: 24px;
  margin-right: 40px;
}

.shop .selector .content dl .list ul li a {
  cursor: pointer;
  font-size: 12px;
  line-height: 24px;
  color: #000;
  display: inline-block;
}

.shop h1,
.shop h2,
.shop h3,
.shop h4,
.shop h5,
.shop h6,
.shop pre,
.shop code,
.shop address,
.shop caption,
.shop cite,
.shop code,
.shop em,
.shop strong,
.shop table,
.shop th,
.shop td {
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
}

.shop .QR-layout {
  position: relative;
  z-index: 0;
  text-align: center;
}

.shop .QR-layout .sort-bar {
  display: inline-block;
  width: 1210px;
  margin: 0 auto;
  border-top: solid 1px #DDD;
}

.shop .QR-layout .sort-bar .sort-bar-wrap {
  position: relative;
  z-index: 2;
  zoom: 1;
  height: 37px;
  font-size: 12px;
  border-bottom: 1px solid #E7E3E7;
  background: #F1F1F1;
}

.shop .QR-layout .sort-bar .sort-bar-wrap .nch-sortbar-array {
  width: 208px;
  display: block;
  float: left;
  margin: 6px 13px 6px 0;
}

.shop .QR-layout .sort-bar .sort-bar-wrap .nch-sortbar-array .screen li {
  position: relative;
  z-index: 1;
  float: left;
  margin-left: -1px;
}

.shop .QR-layout .sort-bar .sort-bar-wrap .nch-sortbar-array .screen li a {
  display: block;
  height: 23px;
  padding: 0 9px;
  border: solid 1px #CCC;
  background-color: #FFF;
  font-size: 12px;
  line-height: 23px;
  color: #333;
}

.shop .QR-layout .sort-bar .sort-bar-wrap .nch-sortbar-array #ul3 {
  display: none;
  border: 1px solid #555;
  margin-left: 98px;
  font-size: 12px;
  width: 100px;
  height: 40px;
}

.shop .QR-layout .sort-bar .sort-bar-wrap .screen .selected a {
  border-color: #f30213;
  background-color: #f30213;
  color: #FFF;
}

.shop .QR-layout .sort-bar .fold {
  display: block;
  float: left;
  height: 25px;
  padding: 6px 14px;
  margin: 0;
  line-height: 25px;
  color: #888;
  overflow: hidden;
}

.shop .QR-layout .sort-bar .fold .block {
  display: block;
  white-space: nowrap;
  overflow: hidden;
}

.shop .QR-layout .sort-bar .nch-sortbar-price .fold {
  width: 130px;
}

.shop .QR-layout .sort-bar .nch-sortbar-price .input-text {
  width: 53px;
}

.shop .QR-layout .sort-bar .nch-sortbar-price .block {
  width: 188px;
}

.shop .QR-layout .sort-bar .nch-sortbar-since .fold {
  width: 116px;
}

.shop .QR-layout .sort-bar .nch-sortbar-since .block {
  width: 174px;
}

.shop .QR-layout .sort-bar .nch-sortbar-since .input-text {
  width: 40px;
}

.shop .QR-layout .sort-bar .nch-sortbar-since .fl {
  float: left !important;
}

.shop .QR-layout .sort-bar .nch-sortbar-since .m-r-5 {
  margin-right: 5px !important;
}

.shop .QR-layout .sort-bar .nch-sortbar-since .m-l-5 {
  margin-left: 5px !important;
}

.shop .QR-layout .sort-bar .input-text {
  float: left;
  height: 23px;
  padding: 0 2px;
  text-align: left;
  border: solid 1px #CCC;
  font-family: Verdana;
  color: #AAA;
  line-height: 23px;
  transition: .2s ease-in-out;
}

.shop .QR-layout .sort-bar .line {
  float: left;
  width: 12px;
  height: 25px;
}

.shop .QR-layout .sort-bar .btn {
  float: left;
  height: 20px;
  padding: 1px 9px 3px 9px;
  margin-left: 14px;
  border: solid 1px #f30213;
  border-radius: 0;
  background-color: #FFF;
  font-size: 12px !important;
  line-height: 20px;
  color: #f30213;
  transition: .2s ease-in-out;
}

.shop .QR-layout .sort-bar .nch-sortbar-filter {
  position: relative;
  z-index: 1;
  display: block;
  float: left;
  width: 98px;
  height: 25px;
  padding: 6px 0;
  border: solid #E7E7E7;
  border-width: 0 1px;
  margin-left: -1px;
}

.shop .QR-layout .sort-bar .nch-sortbar-filter .widget-label {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 25px;
  padding: 6px 14px;
}

.shop .QR-layout .sort-bar .nch-sortbar-filter .widget-label .widget-label-txt {
  display: block;
  float: left;
  color: #888;
  line-height: 25px;
}

.shop .QR-layout .sort-bar .nch-sortbar-filter .widget-label .widget-label-arrow {
  display: block;
  float: left;
  width: 13px;
  height: 7px;
  background: url(../img/search.ele.png) no-repeat 0 0;
  margin: 9px 0 0 7px;
  transition: .2s ease-in-out;
}

.shop .QR-layout .sort-bar .nch-sortbar-filter .widget-layer {
  display: none;
  position: absolute;
  z-index: 1;
  top: 37px;
  left: -1px;
  right: -1px;
  border: solid #E7E7E7;
  border-width: 0 1px 1px 1px;
  background-color: #FFF;
}

.shop .QR-layout .sort-bar .nch-sortbar-filter .widget-layer ul {
  display: block;
  overflow: hidden;
}

.shop .QR-layout .sort-bar .nch-sortbar-filter .widget-layer ul li {
  display: block;
  clear: both;
}

.shop .QR-layout .sort-bar .nch-sortbar-filter .widget-layer ul li span {
  display: block;
  height: 20px;
  padding: 6px 14px;
  text-align: left;
  color: #888;
}

.shop .QR-layout .sort-bar .select-gift {
  text-align: left;
}

.shop .QR-layout .sort-bar .select-gift span {
  display: block;
  cursor: pointer;
}

.shop .QR-layout .sort-bar .select-gift span .gifts {
  color: #888;
}

.shop .QR-layout .sort-bar .select-gift span .gifts .input-gift {
  background: #fff url(../img/right.png) no-repeat 999px 999px;
  cursor: pointer;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  border: 1px solid #e4e4e4;
  margin-right: 5px;
  display: inline-block;
}

.shop .now {
  position: fixed;
  z-index: 99;
  top: 0;
}

.nch-g-list {
  position: relative;
  width: 1200px;
}

.nch-g-list .list_pic {
  display: block;
  width: 1200px;
  overflow: hidden;
}

.nch-g-list .list_pic .item {
  position: relative;
  display: block;
  float: left;
  width: 230px;
  height: 470px;
  margin-top: 8px;
  margin-left: 5px;
  border: 1px solid #fff;
}

.nch-g-list .list_pic .item .goods-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 38px 9px 10px 9px;
  background-color: #FFF;
  border: solid 1px #FFF;
  overflow: hidden;
  transition: border-color 0.15s ease;
}

.nch-g-list .list_pic .item .goods-content .sa {
  text-align: center;
  display: block;
  width: 220px;
  height: 220px;
}

.nch-g-list .list_pic .item .goods-content .sa img {
  max-width: 220px;
  max-height: 220px;
}

.nch-g-list .list_pic .item .goods-content .goods-info {
  width: 220px;
  background-color: #FFF;
}

.nch-g-list .list_pic .item .goods-content .goods-info .goods-price-deal {
  overflow: hidden;
}

.nch-g-list .list_pic .item .goods-content .goods-info .goods-price-deal .goods-price-offer {
  position: relative;
  display: block;
  height: 22px;
  padding: 15px 0 8px 0;
  color: #E4393C;
}

.nch-g-list .list_pic .item .goods-content .goods-info .goods-price-deal .goods-price-offer .sale-price {
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 160px;
  overflow: hidden;
  font-weight: 400;
  font-family: Verdana, Tahoma;
}

.nch-g-list .list_pic .item .goods-content .goods-info .goods-price-deal .goods-price-offer .sale-price .yuan {
  font-size: 16px;
}

.nch-g-list .list_pic .item .goods-content .goods-info .goods-price-deal .goods-price-offer .sale-price .pointer,
.nch-g-list .list_pic .item .goods-content .goods-info .goods-price-deal .goods-price-offer .sale-price .decimal,
.nch-g-list .list_pic .item .goods-content .goods-info .goods-price-deal .goods-price-offer .sale-price .integer {
  font-size: 20px;
}

.nch-g-list .list_pic .item .goods-content .goods-info .goods-price-deal .goods-price-offer i {
  float: right;
  height: 14px;
  padding: 0px 2px;
  margin-top: 4px;
  margin-right: 6px;
  border-radius: 2px;
  background-color: #f30213;
  font-size: 11px;
  color: #FFF;
  line-height: 14px;
  font-style: normal;
}

.nch-g-list .list_pic .item .goods-content .goods-info .p-name {
  height: 40px;
  margin-bottom: 8px;
  overflow: hidden;
}

.nch-g-list .list_pic .item .goods-content .goods-info .p-name a {
  color: #333;
  text-decoration: none;
  outline: medium none;
  font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
}

.nch-g-list .list_pic .item .goods-content .goods-info .p-name a em {
  display: inline;
  overflow: hidden;
  line-height: 20px;
  transition: height .08s ease;
}

.nch-g-list .list_pic .item .goods-content .goods-info .p-name a em i {
  font-style: normal;
  width: 185px;
  color: #ffaa71;
  line-height: 20px;
}

.nch-g-list .list_pic .item .goods-content .goods-info .p-commit {
  overflow: hidden;
  width: 100%;
  height: 18px;
  margin-top: -3px;
  margin-bottom: 9px;
}

.nch-g-list .list_pic .item .goods-content .goods-info .p-commit a {
  background-color: #fff;
  font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
  color: #666;
}

.nch-g-list .list_pic .item .goods-content .goods-info .p-commit strong {
  color: #a7a7a7;
  font-weight: 400;
  font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
}

.nch-g-list .list_pic .item .goods-content .goods-info .p-commit .m-r-20 {
  margin-right: 20px !important;
}

.nch-g-list .list_pic .item .goods-content .goods-info .p-commit .m-r-20 .num {
  color: #646fb0;
  font-family: verdana;
  font-weight: 700;
}

.nch-g-list .list_pic .item .goods-content .goods-info .p-commit .m-r-10 {
  margin-right: 10px !important;
}

.nch-g-list .list_pic .item .goods-content .goods-info .p-commit .m-r-10 .num {
  font-family: verdana;
  font-weight: 700;
}

.nch-g-list .list_pic .item .goods-content .goods-info .p-shop {
  overflow: hidden;
  height: 18px;
  line-height: 18px;
  margin-top: -3px;
  margin-bottom: 9px;
}

.nch-g-list .list_pic .item .goods-content .goods-info .p-shop span {
  position: relative;
  display: inline-block;
  height: 18px;
}

.nch-g-list .list_pic .item .goods-content .goods-info .p-shop span a {
  color: #999;
  background-color: #fff;
  font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
}

.nch-g-list .list_pic .item .goods-content .goods-info .p-icons {
  overflow: hidden;
  zoom: 1;
  height: 16px;
  margin-bottom: 12px;
}

.nch-g-list .list_pic .item .goods-content .goods-info .p-icons .goods-icons {
  overflow: hidden;
  float: left;
  height: 16px;
  text-align: center;
  padding: 0 3px;
  margin-right: 3px;
  border-radius: 2px;
  background: #F30213;
  font-family: "Helvetica Neue", "Hiragino Sans GB", SimSun, serif;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  color: #FFF;
  cursor: default;
}

.nch-g-list .list_pic .item .goods-content .goods-info .p-operate {
  overflow: hidden;
  margin-bottom: 10px;
}

.nch-g-list .list_pic .item .goods-content .goods-info .p-operate .p-o-btn {
  position: relative;
  float: left;
  height: 25px;
  padding: 0 3px 0 24px;
  border: 1px solid #DDD;
  background: #fff;
  line-height: 25px;
}

.nch-g-list .list_pic .item .goods-content .goods-info .p-operate .p-o-btn i {
  position: absolute;
  top: 3px;
  left: 4px;
  display: block;
  width: 18px;
  height: 18px;
  background: url(../imges/search.ele.png) no-repeat;
  font-style: normal;
  transition: background-position .15s ease-in-out;
}

.nch-g-list .list_pic .item .goods-content .goods-info .p-operate .p-o-btn:hover a {
  color: red;
}

.nch-g-list .list_pic .item .goods-content .goods-info .p-operate .p-o-btn:hover .shop_common {
  background-position: 0 -460px;
}

.nch-g-list .list_pic .item .goods-content .goods-info .p-operate .focus {
  width: 28px;
}

.nch-g-list .list_pic .item .goods-content .goods-info .p-operate .focus a {
  display: block;
  color: #999;
  font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
}

.nch-g-list .list_pic .item .goods-content .goods-info .p-operate .focus a i {
  background-position: 0 -440px;
}

.nch-g-list .list_pic .item .goods-content .goods-info .p-operate .focus a .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
}

.nch-g-list .list_pic .item .goods-content .goods-info .p-operate .addcart {
  width: 78px;
  text-align: center;
  margin-left: -1px;
}

.nch-g-list .list_pic .item .goods-content .goods-info .p-operate .addcart a {
  display: block;
  color: #F30213;
}

.nch-g-list .list_pic .item .goods-content .goods-info .p-operate .addcart a i {
  background-position: 0 -500px;
}

.nch-g-list .list_pic .item .clear {
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0;
}

.nch-g-list .item:hover {
  box-shadow: 0 0 0 1px rgba(209, 210, 212, 0.822);
}

.nch-g-list .pagination {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 15px 0;
}

.nch-g-list .pagination a {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  margin: 0 2px;
  text-align: center;
  padding: 0 14px;
  border: 1px solid #DDD;
  background-color: #F7F7F7;
  position: relative;
  z-index: 1;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  color: #AAA;
}

.nch-g-list .pagination .active {
  background-color: red;
}

.nch-g-list .pagination li:first-child {
  margin-right: 10px;
}

.nch-g-list .pagination li:last-child {
  margin-left: 10px;
}

.nch-g-list .m-t-10 {
  margin-top: 10px !important;
}

.nch-g-list .m-b-10 {
  margin-bottom: 10px !important;
}

.nch-g-list .tr {
  text-align: right !important;
}

.ccti {
  float: none;
  clear: both;
  width: 100%;
  height: 86px;
  border: 1px solid #e3e3e3;
  border-width: 1px 0px;
  background: #fff;
}

#faq {
  background-color: #FFF;
  width: 100%;
  overflow: hidden;
}

#footer {
  font-size: 12px !important;
  text-align: center;
  clear: both;
  margin: 0 auto;
  padding-bottom: 10px;
  overflow: hidden;
  background-color: #343a3a;
  font-family: "微软雅黑";
}
