@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body,
button,
input,
select,
textarea {
  background-color: #fff;
  font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
}

.denglu {
  width: 100%;
}

.denglu .wrapper {
  width: 1200px;
  margin: auto;
}

.denglu .header-wrap {
  position: relative;
  z-index: 100;
  background-color: #FFF;
  width: 100%;
  height: 90px;
  border-bottom: solid 2px #F5F5F5;
  margin: 5px auto 0 auto;
}

.denglu .header-wrap .wrapper {
  width: 1000px;
}

.denglu .header-wrap .public-head-layout {
  height: 80px;
}

.denglu .header-wrap .public-head-layout .site-logo {
  margin: 10px 0 0 0;
  position: relative;
  width: 350px;
  height: 68px;
  float: left;
}

.denglu .header-wrap .public-head-layout .site-logo a {
  color: #06C;
}

.denglu .header-wrap .public-head-layout .site-logo a img {
  width: 240px;
  height: 68px;
}

.denglu .header-wrap .public-head-layout .site-logo span {
  display: block;
  width: 110px;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 24px;
  line-height: 30px;
  color: #333;
}

.denglu .tips-wrapper {
  background: #fff8f0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.denglu .tips-wrapper .tips-inner {
  text-align: center;
}

.denglu .tips-wrapper .tips-inner .cont-wrapper {
  display: inline-block;
  width: 90%;
}

.denglu .tips-wrapper .tips-inner .cont-wrapper .icon-tips {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
  background: url(../img2/login_pic.png) no-repeat -150px -250px;
}

.denglu .tips-wrapper .tips-inner .cont-wrapper p {
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
  color: #999;
}

.denglu .nc-login-layout {
  position: relative;
  z-index: 5;
  height: 480px;
  min-height: 600px;
}

.denglu .nc-login-layout .wrapper {
  width: 1000px;
  margin: 0 auto;
}

.denglu .nc-login-layout .wrapper .nc-login {
  position: relative;
  z-index: 4;
  background-color: #FFF;
  width: 346px;
  padding: 0;
  margin-top: 10px;
  float: right;
  overflow: hidden;
}

.denglu .nc-login-layout .wrapper .nc-login .nc-login-mode {
  overflow: visible;
}

.denglu .nc-login-layout .wrapper .nc-login .nc-login-mode .login-tabs-nav {
  border-bottom: solid 1px #F4F4F4;
}

.denglu .nc-login-layout .wrapper .nc-login .nc-login-mode .login-tabs-nav li {
  float: left;
  width: 50%;
  height: 54px;
}

.denglu .nc-login-layout .wrapper .nc-login .nc-login-mode .login-tabs-nav li a {
  display: block;
  height: 18px;
  text-align: center;
  margin: 18px 0;
  border-right: solid 1px #F4F4F4;
  font-family: "microsoft yahei";
  font-size: 18px;
  line-height: 18px;
}

.denglu .nc-login-layout .wrapper .nc-login .nc-login-mode .login-tabs-nav li .tabulous_active {
  color: #E4393C;
  font-weight: 700;
}

.denglu .nc-login-layout .wrapper .nc-login .nc-login-mode .login-tabs-nav .tabulousclear {
  display: block;
  clear: both;
}

.denglu .nc-login-layout .wrapper .nc-login .nc-login-mode .login-tabs-container {
  margin: 20px;
  position: relative;
  z-index: 1;
}

.denglu .nc-login-layout .wrapper .nc-login .nc-login-mode .login-tabs-container .tabs-content {
  width: 306px;
}

.denglu .nc-login-layout .wrapper .nc-login .nc-login-mode .login-tabs-container .tabs-content .login-form {
  display: block;
}

.denglu .nc-login-layout .wrapper .nc-login .nc-login-mode .login-tabs-container .tabs-content .login-form .item {
  position: relative;
  margin-bottom: 13px;
  z-index: 1;
}

.denglu .nc-login-layout .wrapper .nc-login .nc-login-mode .login-tabs-container .tabs-content .login-form .item .login-label {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  border-right: 1px solid #bdbdbd;
  background: url(../img2/login_pic.png) no-repeat;
}

.denglu .nc-login-layout .wrapper .nc-login .nc-login-mode .login-tabs-container .tabs-content .login-form .item .name-label {
  background-position: 0 -110px;
}

.denglu .nc-login-layout .wrapper .nc-login .nc-login-mode .login-tabs-container .tabs-content .login-form .item .mobile-label {
  background-position: -144px -110px;
}

.denglu .nc-login-layout .wrapper .nc-login .nc-login-mode .login-tabs-container .tabs-content .login-form .item .pwd-label {
  background-position: -48px -110px;
}

.denglu .nc-login-layout .wrapper .nc-login .nc-login-mode .login-tabs-container .tabs-content .login-form .item-fore1,
.denglu .nc-login-layout .wrapper .nc-login .nc-login-mode .login-tabs-container .tabs-content .login-form .item-fore2,
.denglu .nc-login-layout .wrapper .nc-login .nc-login-mode .login-tabs-container .tabs-content .login-form .item-fore3 {
  width: 304px;
  height: 38px;
  border: 1px solid #bdbdbd;
}

.denglu .nc-login-layout .wrapper .nc-login .nc-login-mode .login-tabs-container .tabs-content .login-form .itxt {
  overflow: hidden;
  float: none;
  width: 254px;
  height: 18px;
  min-height: 18px;
  padding: 10px 0 10px 50px;
  border: 0;
  font-family: '\5b8b\4f53';
  font-size: 14px;
  line-height: 18px;
}

.denglu .nc-login-layout .wrapper .nc-login .nc-login-mode .login-tabs-container .tabs-content .login-form .errors {
  display: none;
}

.denglu .nc-login-layout .wrapper .nc-login .nc-login-mode .login-tabs-container .tabs-content .login-form .errors .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

.denglu .nc-login-layout .wrapper .nc-login .nc-login-mode .login-tabs-container .tabs-content .login-form .item {
  position: relative;
  margin-bottom: 13px;
  z-index: 1;
}

.denglu .nc-login-layout .wrapper .nc-login .nc-login-mode .login-tabs-container .tabs-content .login-form .item .slide-imgver-btn {
  display: block;
  width: 306px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #16bd53;
  position: relative;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  font-weight: 400;
  color: #6c6c6c;
  cursor: pointer;
}

.denglu .nc-login-layout .wrapper .nc-login .nc-login-mode .login-tabs-container .tabs-content .login-form .item .slide-imgver-btn i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../img2/slideImg/slider-click.png);
  background-size: 100%;
  position: absolute;
  top: 10px;
  left: 25px;
}

.denglu .nc-login-layout .wrapper .nc-login .nc-login-mode .login-tabs-container .tabs-content .login-form .item .count-down-time {
  color: #E4393C;
  font-weight: 600;
}

.denglu .nc-login-layout .wrapper .nc-login .coagent {
  height: auto;
  padding: 0 20px;
  border-top: 1px solid #F4F4F4;
  background-color: #FCFCFC;
  line-height: 50px;
}

.denglu .nc-login-layout .wrapper .nc-login .coagent li {
  float: left;
}

.denglu .nc-login-layout .wrapper .nc-login .coagent li .pdl {
  position: relative;
  display: inline-block;
  padding-left: 24px;
  color: #666;
}

.denglu .nc-login-layout .wrapper .nc-login .coagent li .pdl b {
  position: absolute;
  left: 0;
  top: 16px;
  display: block;
  float: left;
  margin: 0 auto;
  width: 18px;
  height: 18px;
  background: url(../img2/login_pic.png) no-repeat;
}

.denglu .nc-login-layout .wrapper .nc-login .coagent li .pdl .weixin-icon {
  background-position: -120px -250px;
}

.denglu .nc-login-layout .wrapper .nc-login .coagent li .line {
  color: #ccc;
  padding: 0 10px;
}

.denglu .nc-login-layout .wrapper .nc-login .coagent .extra-r {
  float: right;
}

.denglu .nc-login-layout .wrapper .nc-login .coagent .extra-r .regist-link {
  color: #b61d1d;
  font-size: 14px;
}

.denglu .nc-login-layout .wrapper .nc-login .coagent .extra-r .regist-link a {
  color: #b61d1d;
}

.denglu .nc-login-layout .wrapper .nc-login .coagent .extra-r .regist-link b {
  display: inline-block;
  overflow: hidden;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
  background: url(../img2/login_pic.png) no-repeat -180px -250px;
}

.denglu .nc-login-layout .login-banner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 480px;
  background: #e93854;
}

.denglu .nc-login-layout .login-banner .i-inner {
  position: relative;
  z-index: 3;
  height: 480px;
  background: url(https://statics.cnrmall.com/public/img/login_img.jpg) no-repeat 0 0;
}

.denglu #footer {
  font-size: 12px !important;
  text-align: center;
  clear: both;
  margin: 0 auto;
  padding-bottom: 10px;
  overflow: hidden;
  background-color: #343a3a;
  font-family: "微软雅黑";
}

.denglu #fatkun-drop-panel {
  position: fixed;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-weight: 400;
  z-index: 2147483647;
  display: none;
  background: #409eff;
  overflow: hidden;
  border-radius: 5px;
  transition: opacity 0.2s cubic-bezier(0.6, 0, 0.4, 1) 0s, transform 0.2s ease-in-out 0s;
}

.denglu #fatkun-drop-panel #fatkun-drop-panel-close-btn {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 24px;
  text-decoration: none;
}

.denglu #fatkun-drop-panel #fatkun-drop-panel-inner {
  width: 206px;
  height: 206px;
  margin: 16px;
  border-width: 1px;
  border-style: dashed;
  border-color: white;
  border-image: initial;
  border-radius: 5px;
}

.denglu #fatkun-drop-panel #fatkun-drop-panel-inner .fatkun-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 188px;
  text-align: center;
  display: block;
}

.denglu #fatkun-drop-panel #fatkun-drop-panel-inner .fatkun-content svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentcolor;
  font-size: 40px;
  margin-bottom: 20px;
  overflow: hidden;
}

.denglu #fatkun-drop-panel #fatkun-drop-panel-inner .fatkun-content .fatkun-title {
  font-size: 16px !important;
  font-weight: 500 !important;
  margin-bottom: 10px !important;
  color: white !important;
}

.denglu #fatkun-drop-panel #fatkun-drop-panel-inner .fatkun-content .fatkun-desc {
  font-size: 12px !important;
  font-weight: 400 !important;
  margin-bottom: 0px !important;
  line-height: 1.5 !important;
  color: white !important;
}

.denglu #layui-layer-shade1 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: auto;
}

.denglu .layui-layer {
  margin: 0;
  padding: 0;
  background-color: #fff;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  animation-fill-mode: both;
  animation-duration: .3s;
  position: fixed;
  pointer-events: auto;
}

.denglu .layui-layer .layui-layer-content {
  background-color: #FFF;
  padding: 0 !important;
  max-height: 680px;
  position: relative;
  overflow: auto;
}

.denglu .layui-layer .layui-layer-content .for-slide {
  width: 300px;
  height: 220px;
  position: relative;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.denglu .layui-layer .layui-layer-content .for-slide .re-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 28px;
  padding: 0 16px;
}

.denglu .layui-layer .layui-layer-content .for-slide .re-btn a {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 7px 0;
  background-image: url(../img2/sprite.3.2.0.png);
  background-position: 0 -1179px;
  cursor: pointer;
}

.denglu .layui-layer .layui-layer-content .for-slide .slider-btn {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 0;
  top: -7px;
  z-index: 12;
  cursor: pointer;
  background-image: url(../img2/sprite.3.2.0.png);
  background-position: 0 -84px;
  transition: inherit;
}

.denglu .layui-layer .layui-layer-setwin {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 0;
  line-height: initial;
}

.denglu .layui-layer .layui-layer-setwin .layui-layer-close2 {
  position: absolute;
  right: -28px;
  top: -28px;
  width: 30px;
  height: 30px;
  margin-left: 0;
  background: url(../img2/icon.png) no-repeat -149px -31px;
}
