* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.shop {
    width: 100%;
    height: 100%;

    .wrapper {
        width: 1210px;
        margin: auto;
    }

    .clearfix::after {
        content: "";
        display: block;
        height: 0px;
        clear: both;
        overflow: hidden;
        visibility: hidden;
    }

    .header {
        border-bottom: solid 1px #e5e5e5;
        background: #f5f5f5;
    }

    .header-wrap {
        width: 100%;
        background: #fff;
    }

    .public-nav-layout {
        position: relative;
        z-index: 0;
        width: 100%;
        height: 40px;
        border-bottom: solid 2px #F30213;
        margin: 0 auto;
        background-color: #FFF;
        zoom: 1;

        .category {
            display: none;
            box-shadow: -1px 3px 12px -1px rgba(0, 0, 0, 0.3);

            .menu {
                position: relative;
                z-index: 2;
                width: 180px;
                padding: 19px 0;
                min-height: 442px;
                background-color: #fff;
                color: #000;

                a {
                    color: #000;
                }
            }
        }
    }

    .nch-breadcrumb-layout {
        text-align: center;

        .nch-breadcrumb {
            font-size: 0;
            text-align: left;
            height: 26px;
            padding: 10px 0;
            margin: 0 auto;

            i {
                font-size: 14px;
                color: #AAA;
                margin-right: 4px;
            }

            span {
                font-size: 12px;
                line-height: 26px;
                color: #999;
                letter-spacing: normal;
                word-spacing: normal;
                display: inline-block;

                height: 20px;
                zoom: 1;
            }

            a {
                color: #777;
                display: block;
            }
        }
    }

    .nc-toolbar-wrap {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 9990;
        width: 0;
        height: 100%;

    }

    #xiang {
        position: relative;
    }

    .ncs-detail-wrap {
        position: relative;
        // z-index: 2;
        width: 100%;
        background-color: #FFF;

        .ncs-detail {
            position: relative;
            width: 1090px;
            min-height: 520px;
            padding: 0;
            background-color: #FFF;

            .ncs-goods-picture {
                position: absolute;

                width: 380px;
                height: 490px;
                top: 0px;
                text-align: center;


                .MagicZoomPlus {
                    border: 1px solid red;
                    position: relative;
                    padding: 4px;
                    width: 360px;
                    height: 360px;

                    img {
                        width: 360px;
                        height: 360px;

                    }
                }

                .MagicZoomBigImageCont {

                    border: 1px solid #999;
                    display: none;
                    z-index: 5;
                    top: 0px;
                    overflow: hidden;
                    position: absolute;
                    // position: relative;
                    width: 400px;
                    height: 400px;
                    // opacity: 1;
                    left: 375px;

                    img {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 200%;
                        height: 200%;
                    }
                }

                .MagicZoomPup {
                    position: absolute;
                    display: none;
                    width: 100px;
                    height: 100px;
                    left: 0px;
                    top: 0px;
                    // z-index:5 ;
                    background: url(../img4/mask-bg.png) repeat;
                }



                .controller {
                    position: absolute;
                    // z-index: 1;
                    bottom: 40px;
                    left: 0;
                    width: 360px;
                    height: 56px;
                    margin: 10px auto 0 auto;

                    .prev {
                        left: 5px;
                    }

                    .next {
                        right: 5px;
                    }

                    .cBtn {
                        // display: none;
                        position: absolute;
                        // z-index: 1;
                        top: 0;
                        height: 54px;
                        width: 18px;
                        padding: 0;
                        border: solid 1px #FFF;
                        border-radius: 2px;
                        background-color: #fafafa;
                        text-align: center;
                        font-size: 18px;
                        line-height: 56px;
                        color: #AAA;
                    }

                    .goods-pic-box {
                        position: absolute;
                        top: 0;
                        left: 30px;
                        width: 310px;
                        height: 56px;
                        overflow: hidden;
                    }

                    ul {
                        position: absolute;
                        top: 0;
                        left: 0;
                        white-space: nowrap;

                        li {
                            float: left;
                            width: 56px;
                            height: 56px;
                            margin-right: 5px;

                            a {
                                width: 50px;
                                height: 50px;
                                background-color: #FFF;
                                text-align: center;
                                vertical-align: middle;
                                display: table-cell;

                                padding: 2px;
                                overflow: hidden;
                                border: solid 1px #F5F5F5;

                                img {
                                    max-width: 100%;
                                    max-height: 100%;
                                }
                            }
                        }
                    }
                }

                .roll .cBtn {
                    display: block;
                }

                .ncs-handle {
                    position: absolute;
                    z-index: 1;
                    bottom: 0;
                    left: 0;
                    width: 360px;
                    height: 30px;
                    padding-top: 10px;

                    a {
                        color: #333;

                        .m-l-5 {
                            margin-left: 5px !important;
                            font-style: normal;
                        }
                    }

                    .favorite {
                        margin-left: 10px;
                        line-height: 30px;
                        float: left;

                        .fa {
                            display: inline-block;
                            font: normal normal normal 14px/1 FontAwesome;
                            font-size: inherit;
                            text-rendering: auto;



                        }
                    }

                    .share {
                        position: relative;
                        z-index: 1;
                        float: left;
                        color: #555;
                        padding: 4px 6px;
                        margin-left: 10px;
                        line-height: 20px;
                        border: solid #FFF;
                        border-width: 1px 1px 0 1px;
                        background-color: #FFF;

                        sub {
                            display: none;
                            position: absolute;
                            z-index: 1;
                            left: -1px;
                            top: 28px;
                            right: -1px;
                            white-space: nowrap;
                            border: solid #D7D7D7;
                            border-width: 0 1px 1px;
                            background-color: #FFF;

                            a {
                                display: block;
                                margin-bottom: 6px;
                                overflow: hidden;
                            }
                        }
                    }

                    .goods-QRcode {
                        float: left;
                        margin-left: 30px;
                        line-height: 30px;
                        position: relative;
                        z-index: 1;

                        .QRcode-pic {
                            display: none;
                            position: absolute;
                            left: 0;
                            top: 30px;
                            width: 120px;
                            background-color: #FFF;
                            border: solid 1px #E1E1E1;

                            img {
                                width: 120px;
                                height: 120px;
                            }

                        }


                    }
                }


            }

            .ncs-goods-summary {
                position: absolute;
                left: 400px;
                background-color: transparent;
                width: 660px;
                margin-left: 10px;

                .ncs-btn {
                    height: 42px;
                    padding: 10px 0 10px 80px;
                }

                .ncs-goods-tag {
                    position: absolute;
                    top: -5px;
                    left: 5px;
                    overflow: hidden;
                    height: 16px;
                    padding: 0 3px;
                    margin-top: 2px;
                    margin-right: 3px;
                    border-radius: 2px;
                    background: #CCC;
                    font: 12px/16px "Helvetica Neue", "Hiragino Sans GB", SimSun, serif;
                    color: #fff;
                }

                .ncs-goods-name {
                    padding: 14px 8px 10px 8px;
                    overflow: hidden;

                    h1 {
                        display: block;
                        font: normal 20px/28px "Microsoft Yahei";
                        margin-bottom: 4px;
                        color: #000;
                    }

                    strong {
                        font-family: "Microsoft Yahei";
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 16px;
                        color: #e4393c;
                    }
                }

                .goods-sale-off {
                    position: relative;
                    z-index: 3;
                    display: block;
                    background-color: #e4393c;
                    padding: 5px 15px;

                    .fa {
                        display: inline-block;
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: inherit;
                        text-rendering: auto;
                    }

                    .name {
                        float: left;
                        font-size: 14px;
                        font-weight: 600;
                        color: #FFFF00;

                    }

                    .date {
                        float: right;
                        color: #FFF;
                    }

                    .rule-details {
                        position: absolute;
                        z-index: 1;
                        top: 30px;
                        left: 0;
                        right: 0;
                        display: none;
                        height: 50px;
                        background-color: #FBD6C5;
                        padding: 10px 15px;
                        color: #333;
                        box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);

                        p {
                            line-height: 24px;
                        }

                        a {
                            position: absolute;
                            z-index: 1;
                            right: 15px;
                            bottom: 15px;
                            color: #e4393c;
                        }
                    }
                }

                dl {
                    font-size: 0;
                }

                dl dt {
                    text-align: left;
                    width: 60px;
                    margin-left: 20px;
                    color: #777;
                    font-size: 12px;
                    line-height: 30px;
                    vertical-align: top;
                    letter-spacing: normal;
                    word-spacing: normal;
                    display: inline-block;
                    min-height: 30px;
                }

                dl dd {
                    font-size: 12px;
                    line-height: 30px;
                    vertical-align: top;
                    letter-spacing: normal;
                    word-spacing: normal;
                    display: inline-block;
                    min-height: 30px;
                }


                dd {
                    text-align: left;
                    width: 580px;
                    color: #000;
                }

                .ncs-meta {
                    background: url(../img/shop/ncs_meta_bg.png) no-repeat 50% 50%;
                    background-size: cover;
                    margin-bottom: 10px;

                    .goods-price {
                        padding: 12px 0;


                    }

                    .goods-price-real .number {
                        vertical-align: baseline;
                        margin-left: 5px;

                        .yuan {
                            font-size: 16px;
                            color: #e4393c;
                            font-weight: 400;
                        }

                        .integer,
                        .pointer,
                        .decimal {
                            font-size: 26px;
                            color: #e4393c;
                            font-weight: 500;
                        }
                    }

                    strong {
                        font-weight: bold;
                    }

                    .original-price {
                        display: inline-block !important;
                        vertical-align: text-bottom !important;
                        padding-left: 10px !important;
                        margin: 0 !important;
                        clear: both;
                        font-family: Verdana;
                        font-size: 12px;
                        color: #A1A1A1;
                        line-height: 16px;
                        text-decoration: line-through;
                    }
                }

                .goods-gift {
                    margin-bottom: 10px;
                }

                .ncs-logistics {
                    position: relative;
                    z-index: 2;
                    padding-top: 5px;
                    margin-top: 10px;
                    border-top: 1px solid #F1F1F1;

                    .fl {
                        float: left !important;
                    }

                    .m-r-5 {
                        margin-right: 5px !important;
                    }

                    .ncs-freight-select {
                        height: 20px;
                        float: left;
                        margin: 5px 6px 0 0;
                        position: relative;
                        z-index: 3;

                        .ncs-stock {
                            position: relative;

                            .tab {
                                background-color: #FAFAFA;
                                width: 100%;
                                height: 26px;
                                float: left;
                                border-bottom: solid 1px #E6E6E6;
                                overflow: visible;

                                li {
                                    float: left;
                                    clear: none;
                                    padding: 0;

                                    .hover {
                                        line-height: 26px;
                                        color: #000;
                                        text-decoration: none;
                                        background-color: #FFF;
                                        height: 26px;
                                        padding: 0 15px 1px 15px;
                                        border-color: #E6E6E6;
                                        border-style: solid;
                                        border-width: 0 1px 0 0;

                                        i {
                                            font-size: 0;
                                            line-height: 0;
                                            background: url(../img4/2014_ncs_public_img.png) no-repeat -50px -100px;
                                            vertical-align: middle;
                                            display: inline-block;
                                            width: 8px;
                                            height: 4px;
                                            margin-left: 6px;
                                        }
                                    }
                                }
                            }

                            .area-list {
                                display: block;
                                clear: both;
                                padding: 10px 15px;
                                overflow: hidden;

                                li {
                                    line-height: 20px;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    width: 112px;
                                    height: 20px;
                                    padding: 4px 0 4px 4px;
                                    float: left;
                                    overflow: hidden;

                                    a {
                                        line-height: 16px;
                                        color: #555;
                                        padding: 2px 5px;
                                    }
                                }
                            }
                        }

                        .text {
                            line-height: 20px;
                            background-color: #FFF;
                            height: 20px;
                            float: left;
                            padding-right: 20px;
                            position: relative;
                            z-index: 1;
                            overflow: hidden;
                            cursor: pointer;

                            b {
                                font-size: 0;
                                line-height: 0;
                                background: url(../img4/2014_ncs_public_img.png) no-repeat -50px -100px;
                                display: block;
                                width: 8px;
                                height: 4px;
                                position: absolute;
                                top: 9px;
                                right: 6px;
                                overflow: hidden;
                            }
                        }

                        .content {
                            background-color: #FFF;
                            display: none;
                            width: 512px;
                            padding: 0;
                            border: 1px solid #D7D7D7;
                            position: absolute;
                            z-index: 2;
                            top: 0;
                            left: 0;
                            box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.05);
                        }

                        .ncs-freight-select .ncs-stock .tab {
                            background-color: #FAFAFA;
                            width: 100%;
                            height: 26px;
                            float: left;
                            border-bottom: solid 1px #E6E6E6;
                            overflow: visible;
                        }
                    }

                    #ncs-freight-prompt {
                        line-height: 28px;
                        color: #555;
                        float: left;

                        strong {
                            font-weight: 500;
                            margin-right: 12px;
                        }
                    }
                }

                .ncs-service {
                    position: relative;
                    z-index: 2;
                    padding-top: 5px;
                    margin-top: 10px;

                    .service-name {
                        color: #e80012;
                    }
                }

                .ncs-key {
                    position: relative;
                    z-index: 3;
                    border-top: solid 1px #F1F1F1;
                    margin-top: 10px;
                    padding-top: 10px;

                    .ncs-retail-modal dl {
                        font-size: 0;
                        padding: 5px 0;

                        .ncs-number {
                            margin-left: 20px;
                            width: 60px;
                        }
                    }

                    .ncs-retail-modal dl dd {
                        font-size: 12px;
                        line-height: 30px;
                        vertical-align: top;
                        letter-spacing: normal;
                        word-spacing: normal;
                        display: inline-block;
                        min-height: 30px;
                    }

                    .amount {
                        float: left;

                        .minus {
                            margin-right: -1px;
                        }

                        .minus,
                        .plus {
                            text-decoration: none;
                            position: relative;
                            z-index: 1;
                            display: block;
                            width: 28px;
                            height: 30px;
                            text-align: center;
                            float: left;
                            // border: solid #E1E1E1 1px;
                            line-height: 28px;

                            i {
                                margin: 0;
                            }

                        }

                        .plus {
                            margin-left: -1px;

                        }

                        .input-text {
                            position: relative;
                            z-index: 1;
                            display: block;
                            float: left;
                            width: 40px;
                            height: 20px;
                            text-align: center;
                            padding: 4px;
                            border: solid 1px #E1E1E1;
                            line-height: 20px;
                        }

                        .m-l-5 {
                            margin-left: 5px !important;
                        }
                    }

                    .amount .crisis,
                    .amount .crisis:hover {
                        background-color: #FAFAFA;
                        border-color: #E1E1E1;
                        cursor: not-allowed;
                    }

                    .fl {
                        float: left !important;
                    }

                    .m-l-10 {
                        margin-left: 10px !important;
                    }

                    .ncs-btn {
                        height: 42px;
                        padding: 10px 0 10px 80px;

                        i {
                            font-size: 18px;
                            margin-right: 6px;
                            vertical-align: middle;
                        }

                        .buynow {
                            border-color: #e4393c;
                            background-color: #e4393c;
                            color: #fff;
                        }

                        .buynow,
                        .addcart {
                            font: lighter 18px/40px "Microsoft Yahei";
                            display: inline-block;
                            width: 150px;
                            height: 40px;
                            text-align: center;
                            margin: 0 10px 0 0;
                            border: solid 1px;
                            overflow: hidden;
                        }

                        .addcart {
                            border-color: #F2DCBC;
                            background-color: #FFF5EC;
                            color: #e4393c;
                        }
                    }




                }

                .ncs-cti {
                    margin-bottom: 10px;

                    dd span,
                    dd span a {
                        margin-right: 10px;
                        color: #999;
                        white-space: nowrap;
                    }

                    img {
                        vertical-align: middle;
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        margin-right: 4px;
                    }
                }

                .m-t-10 {
                    margin-top: 10px !important;
                }




            }


        }

        .ncs-r-mod {
            position: absolute;
            top: 0px;
            left: 1162px;
            width: 140px;
            height: 480px;
            background-color: #FAFAFA;

            .ncs-r-mod-tit {
                display: block;
                height: 20px;
                padding: 10px 10px 0 10px;

                h4 {
                    display: inline-block;
                    font-size: 12px;
                    line-height: 20px;
                    color: #333;
                }

                a {
                    float: right;
                    color: #777;

                    .icon {
                        font-size: 14px;
                        margin-right: 5px;
                        display: inline-block;
                        font: normal normal normal 14px/1 FontAwesome;
                    }
                }
            }

            .ncs-r-mod-con {
                display: block;
                margin: 0 10px;

                ul {
                    width: 100%;
                    margin-top: -1px;

                    li {
                        display: block;
                        padding: 8px 0 0;

                        .ncs-recom-goods-thumb {
                            width: 120px;
                            height: 120px;
                            margin: 0 auto;
                            overflow: hidden;
                        }

                        .goods-price {
                            display: block;
                            width: 100%;
                            height: 20px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            color: #616161;
                            line-height: 20px;
                            font-family: Verdana;

                            em {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }

        .pr {
            position: relative;
        }


    }

    #ncs-goods-layout {
        width: 100%;
        height: 50px;
        margin: 10px auto;
        // position: relative;
        // z-index: 1;

        .di2 {
            width: 210px;
            float: left;
            border: 1px solid #e1e1e1;
            background: #fafafa;
            text-align: center;

            h2 {
                font-size: 14px;
                line-height: 50px;
                color: #555555;
            }
        }

        .di3 {
            width: 980px;
            float: left;
            margin-left: 10px;
            border-top: 1px solid red;
        }

        .ul1 {
            display: flex;
            justify-content: space-around;
            border-bottom: 1px solid #e5e5e5;
            border-left: 1px solid #e5e5e5;
            border-right: 1px solid #e5e5e5;
            padding-left: 24px;

            li {
                width: 100px;
                text-align: center;
                font-size: 14px;
                line-height: 50px;
                color: #555555;

            }

            .li5 {
                background: red;
            }
        }
    }


    #ka {
        width: 100%;

        .xuan1 {
            float: right;
            width: 980px;
            height: 1000px;
            background: aquamarine;
            display: none;
        }
    }

    .nc-goods-borowse {
        width: 100%;
        overflow: hidden;
        background-color: #FFF;

        .nc-goods-browse-box {
            position: relative;
            width: 1190px;
            height: 260px;
            padding: 0 4px;
            margin: 0 auto 10px auto;
            border: solid 1px #DDD;
            border-top: solid 2px #999;

            .of {
                overflow: hidden;

                .title {
                    padding: 5px 15px;
                    float: left;
                    text-align: center;

                    h3 {
                        color: #F30213;
                        font-weight: 600;
                        display: inline-block;
                        font-size: 14px;
                        cursor: pointer;

                    }
                }
            }

            .content {
                position: absolute;
                top: 45px;
                left: 15px;

                .goods-list {
                    overflow: hidden;

                    .goods-item {
                        float: left;
                        text-align: center;
                        width: 195px;

                        .goods-pic {
                            width: 130px;
                            height: 130px;
                            margin: 0 auto;

                            a {
                                line-height: 0;
                                text-align: center;
                                vertical-align: middle;
                                display: table-cell;
                                width: 130px;
                                height: 130px;
                                padding: 0;
                                overflow: hidden;

                                img {
                                    max-width: 130px;
                                    max-height: 130px;
                                }
                            }
                        }

                        .goods-info {
                            width: 140px;
                            margin: 0 auto 10px auto;

                            dt {
                                line-height: 18px;
                                height: 36px;
                                overflow: hidden;

                                a {
                                    color: #333;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .box {
        width: 300px;
        height: 200px;
        // padding: 0 10px;
        background: #fff;
        position: absolute;
        display: none;
        z-index: 2;
    }

    .zhe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 500px;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        display: none;
    }

    #footer {
        font-size: 12px !important;
        text-align: center;
        clear: both;
        margin: 0 auto;
        padding-bottom: 10px;
        overflow: hidden;
        background-color: rgb(52, 58, 58);
        font-family: "微软雅黑";
    }
}