@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img {
  width: 100%;
}

.hunli {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #fff;
  flex-direction: column;
}

.hunli .top {
  width: 100%;
  height: 1.44rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0rem .4rem;
}

.hunli .top .top1 {
  width: 2.6rem;
  height: .866667rem;
}

.hunli .top .span1 {
  font-size: .32rem;
  position: absolute;
  left: 3.066667rem;
}

.hunli .top .top2 {
  width: .506667rem;
  height: .466667rem;
}

.hunli main {
  overflow: auto;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0rem .4rem;
}

.hunli main .banner {
  width: 100%;
  height: 3.68rem;
  display: flex;
}

.hunli main .xuanze {
  height: 3.733333rem;
  display: flex;
}

.hunli main .xuanze div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hunli main .xuanze div .xu1-1 {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: .32rem;
}

.hunli main .tutu {
  margin-top: .733333rem;
  height: 4.426667rem;
  display: flex;
}

.hunli main .tutu .tu-1 {
  width: 50%;
  border-radius: .2rem .533333rem .533333rem .2rem;
  background: url(../images2/o_1cliarnre1kk49dc1sa3kiqe4g9.png) no-repeat;
  background-size: contain;
}

.hunli main .tutu .tu-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hunli main .tutu .tu-2 .tu2-2 {
  width: 100%;
  height: 47%;
  border-radius: .2rem .533333rem .533333rem .2rem;
}

.hunli main .tutu .tu-2 div:nth-child(1) {
  background: url(../images2/o_1cliau3cmq3ca6q1kvf16hvdvc9.png) no-repeat;
  background-size: contain;
}

.hunli main .tutu .tu-2 div:nth-child(2) {
  background: url(../images2/o_1d21g6g94cug1q4a1lr3ne19q19.jpg) no-repeat;
  background-size: contain;
}

.hunli main h2 {
  font-size: .533333rem;
  line-height: .533333rem;
  margin-top: .76rem;
  margin-bottom: .506667rem;
}

.hunli main .box1-1 {
  display: flex;
  justify-content: space-between;
  height: 1.733333rem;
}

.hunli main .box1-1 .span-1 {
  font-size: .346667rem;
  line-height: .346667rem;
  color: #ccc;
  margin-top: .76rem;
}

.hunli main .box1 {
  width: 100%;
  height: 6.08rem;
}

.hunli main .box1 .box1-2 {
  width: 100%;
  height: 4.733333rem;
  overflow: auto;
  display: flex;
}

.hunli main .box1 .box1-2 div {
  width: 3.733333rem;
  height: 4.733333rem;
  border: .013333rem solid #f5f5f5;
  border-radius: .32rem;
  box-shadow: 0 0 0 .133333rem #f5f5f5 inset;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hunli main .box1 .box1-2 div div {
  width: 1.733333rem;
  height: 1.733333rem;
  border-radius: 50%;
  border: .013333rem solid #f5f5f5;
}

.hunli main .box1 .box1-2 div h2 {
  font-size: .373333rem;
}

.hunli main .box1 .box1-2 div .s2 {
  font-size: .266667rem;
  color: #959595;
}

.hunli main .box1 .box1-2 div .s1 {
  width: 1.6rem;
  height: .32rem;
  background: url(../images2/xingxing1.png);
  background-size: contain;
}

.hunli main .box1 .box1-2 .box1-2-5 span:nth-child(3) {
  width: .306667rem;
  height: .32rem;
  background: url(../images2/xingxing1.png);
  background-size: contain;
}

.hunli main .box1 .box1-2 .box1-2-1 div:nth-child(1) {
  background: url(../images2/0AB572F01743D6338C69C703F089E458.jpg) no-repeat;
  background-size: contain;
}

.hunli main .box1 .box1-2 .box1-2-2 div:nth-child(1) {
  background: url(../images2/5B5867A8F09D26664DAEA05C12E601C7.jpg) no-repeat;
  background-size: contain;
}

.hunli main .box1 .box1-2 .box1-2-3 div:nth-child(1) {
  background: url(../images2/67047B33B9029AD05CF318B07195A7E9.jpg) no-repeat;
  background-size: contain;
}

.hunli main .box1 .box1-2 .box1-2-4 div:nth-child(1) {
  background: url(../images2/A5AB100EF356F322A8E0166E256DDC92.jpg) no-repeat;
  background-size: contain;
}

.hunli main .box1 .box1-2 .box1-2-5 div:nth-child(1) {
  background: url(../images2/BFD1945AF5CE57DF8D0132C9A6DEF11E.jpg) no-repeat;
  background-size: contain;
}

.hunli main .box2 {
  height: 6.133333rem;
  display: flex;
  flex-direction: column;
}

.hunli main .box2 .box2-1 {
  width: 9.12rem;
  height: 4.266667rem;
  border-radius: .346667rem;
  background: url(../images2/地图.png) no-repeat;
  background-size: contain;
  position: relative;
}

.hunli main .box2 .box2-1 .box2-2 {
  width: 8.093333rem;
  height: 3.546667rem;
  border-radius: .373333rem;
  background-color: #fff;
  position: absolute;
  top: .533333rem;
  left: .533333rem;
}

.hunli main .box2 .box2-1 .box2-2 .ul-box2 {
  width: 7rem;
  height: 2.4rem;
  display: flex;
  margin-left: 1.04rem;
  margin-top: .36rem;
  align-content: center;
  flex-wrap: wrap;
}

.hunli main .box2 .box2-1 .box2-2 .ul-box2 .li-box2 {
  flex-shrink: 0;
  margin-right: .746667rem;
  font-size: .4rem;
  line-height: .933333rem;
}

.hunli main .box3 .box3-2 {
  height: 2.093333rem;
  display: flex;
  overflow: auto;
}

.hunli main .box3 .box3-2 div {
  width: 3.066667rem;
  height: 1.866667rem;
  margin-right: .266667rem;
  border: .013333rem solid #dbd8d8;
  border-radius: .373333rem;
  flex-shrink: 0;
  box-shadow: 0 0 0 .133333rem #f7f7f7;
  position: relative;
}

.hunli main .box3 .box3-2 div div {
  width: .613333rem;
  height: .613333rem;
  position: absolute;
  top: 1.04rem;
  left: 2.133333rem;
}

.hunli main .box3 .box3-2 div .h3-box3 {
  font-size: .426667rem;
  line-height: .426667rem;
  margin-top: .373333rem;
  margin-left: .333333rem;
}

.hunli main .box3 .box3-2 div .p-box3 {
  font-size: .32rem;
  line-height: .84rem;
  color: #a1a1a1;
  margin-left: .333333rem;
}

.hunli main .box4 {
  height: 7.333333rem;
}

.hunli main .box4 .box4-1 {
  width: 9.2rem;
  height: 5.333333rem;
  display: flex;
}

.hunli main .box4 .box4-1 div {
  width: 4.573333rem;
  display: flex;
  flex-direction: column;
}

.hunli main .box4 .box4-1 div .left1 {
  width: 100%;
  height: 100%;
  border-radius: .373333rem 0rem 0rem .373333rem;
}

.hunli main .box4 .box4-1 .box4-left div:nth-child(1) {
  background: url(../images2/o_1ckc6chiqe4s1rejj8c8311rsb17.png) no-repeat;
  background-size: contain;
}

.hunli main .box4 .box4-1 .box4-left div:nth-child(2) {
  background: url(../images2/o_1ckc6chiq1rj105q7t83a41v0m19.png) no-repeat;
  background-size: contain;
}

.hunli main .box4 .box4-1 .box4-right {
  background: url(../images2/o_1ckc6chiq17ejjir16lsinv1mpa18.png) no-repeat;
  background-size: contain;
  border-radius: 0rem 0.37333rem 0.37333rem 0rem;
}

.hunli main .box5 {
  height: 10.226667rem;
}

.hunli main .box5 .box5-1 {
  width: 8.56rem;
  height: 3.973333rem;
  margin: .533333rem .533333rem;
  box-shadow: 0 0 0 .133333rem #f9f9f9 inset;
  position: relative;
  border-radius: .373333rem;
}

.hunli main .box5 .box5-1 .box5-2 {
  width: 2.533333rem;
  height: 1.866667rem;
  position: absolute;
  top: 1.04rem;
  left: 5.666667rem;
}

.hunli main .box5 .box5-1 .box5-2 h2 {
  font-size: .466667rem;
}

.hunli main .box5 .box5-1 .box5-2 .im2 {
  width: .773333rem;
  height: .773333rem;
}

.hunli main .box5 .box5-1 .im1 {
  height: 3.973333rem;
  width: 5.866667rem;
  border-radius: .373333rem;
  position: absolute;
  top: -.533333rem;
  left: -.533333rem;
}

.hunli main .box5 .box5-2 {
  height: 3.2rem;
  display: flex;
}

.hunli main .box5 .box5-2 div {
  margin-right: .266667rem;
  height: 3.2rem;
  width: 2.88rem;
  display: flex;
  border-radius: .373333rem;
  flex-direction: column;
  box-shadow: 0 0 0 .133333rem #f4f4f4;
}

.hunli main .box5 .box5-2 div .img1 {
  width: 2.88rem;
  height: 2.133333rem;
  border-radius: .373333rem .373333rem 0rem 0rem;
}

.hunli main .box5 .box5-2 div .sp1 {
  font-size: .306667rem;
  line-height: .306667rem;
  margin-top: .32rem;
  text-align: center;
}

.hunli main .box6 {
  height: 20.266667rem;
}

.hunli main .box6 .box6-1 {
  margin-top: .48rem;
  width: 9.013333rem;
  height: 3.2rem;
  display: flex;
  position: relative;
  box-shadow: 0 0 0 .2rem #f5f5f5 inset;
}

.hunli main .box6 .box6-1 .img6-1 {
  width: 3.733333rem;
  height: 2.933333rem;
}

.hunli main .box6 .box6-1 .img6-2 {
  width: .88rem;
  height: 3.8rem;
  position: absolute;
  top: -0.3rem;
  left: 2.9rem;
}

.hunli main .box6 .box6-1 .box6-1-1 {
  margin-left: .533333rem;
}

.hunli main .box6 .box6-1 .box6-1-1 h2 {
  font-size: .44rem;
}

.hunli main .box6 .box6-1 .box6-1-1 .sp-1 {
  font-size: .266667rem;
  color: #696969;
}

.hunli main .box6 .box6-1 .box6-1-2 {
  width: .773333rem;
  height: .773333rem;
  background: url(../images2/o_1ckekgklp1sqr1pimn4uocm1r37d.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 2.053333rem;
  left: 7.826667rem;
}

.hunli .dibu {
  width: 100%;
  height: 3.813333rem;
  background-color: #f2f3f7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.2rem;
}

.hunli .dibu .ul-di {
  display: flex;
  margin-top: .733333rem;
  margin-bottom: .44rem;
}

.hunli .dibu .ul-di li {
  margin-right: .533333rem;
}

.hunli .dibu .ul-di li a {
  display: block;
  width: 2.693333rem;
  border-radius: .32rem;
  font-size: .346667rem;
  line-height: .8rem;
  text-align: center;
}

.hunli .dibu .ul-di .lis7 a:nth-child(1) {
  background-color: red;
  color: white;
}

.hunli .dibu .ul-di .lis8 a:nth-child(1) {
  background-color: white;
  color: red;
}

.hunli .dibu .p-di {
  font-size: .293333rem;
  color: #9a999e;
  line-height: .56rem;
}
