.col-xs-12 {
  width: 100%;
  float: left;
}
.col-xs-12 .page-header {
  margin: 0 0 12px;
  border-bottom: 1px dotted #e2e2e2;
  padding-bottom: 16px;
  padding-top: 7px;
}
.col-xs-12 .page-header .btn-primary {
  background-color: #428bca !important;
  border-color: #428bca;
}
.col-xs-12 .center {
  text-align: center !important;
}
.col-xs-12 .col-sm-3 {
  width: 25%;
}
.col-xs-12 .col-sm-3 .space-4 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 4px 0 3px;
}
.col-xs-12 .col-sm-3 .profile-picture {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 4px;
  display: inline-block;
  max-width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
.col-xs-12 .col-sm-3 .profile-picture img.editable-click {
  border: 1px dotted #bbb;
  cursor: pointer;
  font-weight: normal;
}
.col-xs-12 .col-sm-3 .label-info {
  background-color: #3a87ad !important;
  margin-right: 5px;
  margin-left: 7px;
  padding: 0.3em 0.7em 0.4em;
  font-size: 14px;
  line-height: 1.3;
  height: 28px;
  position: relative;
}
.col-xs-12 .col-sm-3 .label-info .white {
  color: #fff !important;
}
.col-xs-12 .col-sm-9 {
  width: 75%;
}
.col-xs-12 .col-sm-9 .profile-user-info {
  margin: 0 12px;
}
.col-xs-12 .col-sm-9 .profile-user-info-striped {
  border: 1px solid #dcebf7;
}
.col-xs-12 .col-sm-9 .profile-user-info-striped .profile-info-row {
  position: relative;
}
.col-xs-12
  .col-sm-9
  .profile-user-info-striped
  .profile-info-row
  .profile-info-name {
  color: #336199;
  background-color: #edf3f4;
  position: absolute;
  width: 110px;
  text-align: right;
  padding: 6px 10px 6px 0;
  left: 0;
  top: 0;
  bottom: 0;
  font-weight: normal;
  border-top: 1px solid #f7fbff;
}
.col-xs-12
  .col-sm-9
  .profile-user-info-striped
  .profile-info-row
  .profile-info-value {
  padding: 6px 4px 6px 6px;
  margin-left: 120px;
  border-top: 1px dotted #d5e4f1;
}
.col-xs-12 .form-group {
  margin-bottom: 15px;
}
.col-xs-12 .form-group .col-xs-6 {
  display: block;
  width: 50%;
  padding-right: 12px;
  padding-left: 12px;
}
.col-xs-12 .form-group .col-xs-6 h5 {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: normal;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.col-xs-12 .form-group .col-xs-6 h5 b {
  font-weight: bold;
}
.col-xs-12 .form-group .table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-spacing: 0;
}
